.map {
    width: 45vw;
    height: 30vh;
    position: relative;
    border-radius: 10px;
}

#contact {
    margin-bottom: 50px;
    width: 45vw;
    position: relative;
    background-color: rgb(30 41 59);
    height: 30vh;
    border-radius: 10px;
    font-family: var(--font-family);
}

#under {
    color: white;
}

#header {
    font-weight: 1000;
}

#name {
    font-family: 'Caveat', cursive;;
}

#avatar {
    -webkit-box-shadow:0 0 20px white; 
    -moz-box-shadow: 0 0 20px white; 
    box-shadow:0 0 20px white;
}

#mapButton {
    width: 25px;
}

#direction {
    font-family: var(--font-family);
}

#find-button {
    background: var(--gradient-direction);
}

#directions {
    background: var(--gradient-direction);

}
@media screen and (max-width: 1550px) {
    #avatar {
        width: 150px;
        height: 150px;
        margin: 0.2rem;
    }
}

@media screen and (max-width: 1070px) {
    #avatar {
        width: 150px;
        height: 150px;
        margin: 0.8rem;
    }
    .map {
        width: 100vw;
    }
    #find-us {
        width: 100vw;
    }
    #contact {
        margin-top: 25px;
    }
}
  
  @media screen and (max-width: 700px) {
    #avatar {
        width: 100px;
        height: 100px;
        margin: 0.2rem;
    }
    .map {
        width: 100vw;
    }
    #find-us {
        width: 100vw;
    }
    #contact {
        margin-top: 25px;
    }
}
  
  @media screen and (max-width: 550px) {
    #avatar {
        width: 75px;
        height: 75px;
        margin: 0.2rem;
    }
    .map {
        width: 100vw;
    }
    #find-us {
        width: 100vw;
    }
    #contact {
        margin-top: 25px;
    }
    #header {
        font-size: 18px;
    }
    .subtext {
        font-size: 14px;
    }
}